[Unit]
Description=NYT R&D HOT_PANTS TEMP SENSOR

[Service]
Type=simple
WorkingDirectory=/home/root/hotpants/
ExecStart=/usr/bin/python hotpants-TMP102.py
KillMode=process
