[Unit]
Description=NYT R&D HOT_PANTS PROX SENSOR

[Service]
Type=simple
WorkingDirectory=/home/root/Python-Thermal-Printer/
ExecStart=/usr/bin/python hotpants-prox.py
KillMode=process
